---
import type { ContentType as Props } from '~/types';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';


const { 
  title,
  subTitle,
  text,
  callToAction,
  images = [],

  id,
  isDark,
  classes,
  bg = await Astro.slots.render('bg'),
} = Astro.props;

---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
>
<h1 class="mb-2 font-bold text-5xl tracking-tight text-heading dark:text-white"><div set:text={title} /></h1>
<h2 class="mb-2 font-bold text-lg tracking-tight text-accent dark:text-white"><div set:text={subTitle} /></h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-1 sm:gap-2 mt-4 mb-10 w-full">
    {images.map((image) => (
        <div class="h-auto max-w-full">
        {
          <Image
              width={image.src.width}
              height={image.src.height}

              {...image}
          />
        }
        </div>
      ))}
</div>

<h3 class="my-4 w-full font-normal text-muted dark:text-gray-200"><div set:text={text} /></h3>
<Button variant="secondary" {...callToAction} />
<hr class="mt-10 sm:mt-20 h-px border-t-0 bg-transparent bg-linear-to-r from-transparent via-accent to-transparent opacity-50 dark:via-neutral-400" />
</WidgetWrapper>
